@{
    ViewBag.Title = "About Us - Vote with Your Wallet";
}

<div class="bg-light">
    <h2> About Us - Our Mission</h2>
    <p class="text-info p-3">
        Vote with Your Wallet was established as a mean to publicly express the objections to creative tax avoidance,
        unfair employment practices, racism, disregard of environmental impact and other unethical business and political practices.
    </p>
    <h2> Our platform</h2>
    <p class="text-info p-3">
        Our platform enables us like-minds to add our signatures under a cause, which can be created by other members,
        supporting with the cause and pledging not to do business or otherwise deal with
        the misbehaving entity highlighted in the cause.
    </p>

</div>
<br/>