@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log In";
}

<section class="bg-light">
    <div class="text-center ">
        <span class="text-primary ">
            <h2>Log In</h2>
        </span>
        <span class="text-info ">
            <h5> Please log in with your username and password to continue</h5>
        </span>
    </div>

    <div class="container">
        <div class="form-group error">
            @if (ViewBag.Failedcount != null)
            {
                <label class="text-center text-danger"> Invalid Login Information. Please try again.</label>
            }

            @if (ViewBag.NotValidUser != null)
            {
                <label class="text-center text-danger"> @ViewBag.NotValidUser</label>
            }
            @if (ViewBag.InvalidUsername != null)
            {
                <label class="text-center text-danger"> @ViewBag.NotValidUser</label>
            }
        </div>

        <form method="post" action="/Home/LogIn">
            @Html.AntiForgeryToken()
            <div class="form-inline">
                <label for="usrName" class="col-4">Username:</label>
                <input class="form-control col-6" type="email" name="usrName"
                       id="usrName" size="60" maxlength="60" required placeholder="user@abc.xyz"/>
            </div>
            <div class="form-inline">
                <label class="col-4" for="pssWd">Password:</label>
                <input class="form-control col-6" type="password"
                       name="pssWd" id="pssWd" size="60" maxlength="60" required placeholder="********" />
            </div>
            <br/>
            <input class=" col-12 form-control btn-default btn-primary" type="submit" name="login" value="Sign In"/>
            <br/>
        </form>
    </div>
</section>


<br/>