@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-light">
    <div class="text-center ">
        <span class="text-primary ">
            <h2>Registration</h2>
        </span>
        <span class="text-info ">
            <h5> Please sign up with your details to become a full member</h5>
        </span>
    </div>

    <div class="container col-8">
        <form method="post">
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-4" for="username">Email address: </label>
                    <input type="email" class="form-control col-6" id="username" aria-describedby="emailHelp" placeholder="user@abc.xyz" size="60" maxlength="60" required>
                </div>
                <small id="emailHelp" class="form-text text-muted text-center">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-4" for="password">Password:</label>
                    <input class="form-control col-6" type="password"
                           name="password" id="password" size="60" maxlength="60" required placeholder="********" aria-describedby="passwordHelp"/>
                </div>
                <small id="passwordHelp" class="form-text text-muted text-center">Password should contain 16-64 characters.</small>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-4" for="password">Password Retype:</label>
                    <input class="form-control col-6" type="password"
                           name="rePassword" id="rePassword" size="60" maxlength="60" required placeholder="********"/>
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-4" for="firstname">First Name: </label>
                    <input type="text" class="form-control col-6" id="firstname" placeholder="Your fist name" size="60" maxlength="60" required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label class="col-4" for="lastname">Last Name: </label>
                    <input type="text" class="form-control col-6" id="lastname" placeholder="Your last name" size="60" maxlength="60" required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label class="col-4" for="postcode">Post code: </label>
                    <input type="text" class="form-control col-6" id="postcode" placeholder="UK post code only" size="60" maxlength="60">
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label class="col-4" for="address">Address: </label>
                    <input type="text" class="form-control col-6" id="address" placeholder="Your address" size="60" maxlength="60">
                </div>
            </div>

            <br/>
            <input class=" col-12 form-control btn-default btn-primary" type="submit" name="register" value="Register an Account"/>
            <br/>
        </form>
    </div>
</section>