@{
    ViewBag.Title = "Home Page";
}

<script>


    //temporary function to toggle between user/guest mode
    $(document).ready(function() {
        $("#btnMenuToggle").click(function() {
            $("#guestMenu").toggle();
            $("#userMenu").toggle();
        });
    });
    //load more causes on demand
    $(document).ready(function() {
        $("#btnLoadMore").click(function() {
            $("#causesList").append("<div class='row col-12'> New cause info will be loaded.</div>");
        });
    });


</script>

<div class="container">
    <section class="row bg-light col-md-12">
        <div class="text-info ml-3">
            <h2>Our Causes</h2>
            <p> Discover our causes and sign your signature to support them.</p>
        </div>
    </section>

    <section class="container bg-light row col-12" id="causesList">

        @{
            foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-3 img-fluid">
                        <img class="img-fluid" src="~/Content/img/vote.png"/>
                    </div>
                    <div class="col-9">
                        <h2 class="text-center">ViewBag.Item.Title</h2>
                        <div class="text-center">ViewBag.Item.Status</div>
                        <div class="text-center">ViewBag.Item.Count</div>
                        <h5 class="text-center">ViewBag.Item.Description</h5>
                        @Html.ActionLink("More Info", "MoreInfo", "Home", new {@class = "nav-link text-right"})
                    </div>
                </div>
            }
        }

    </section>
    <button class=" col-12 btn btn-default" id="btnLoadMore">Load more Causes</button>

</div>